# ====================================
# PYTHON BASICS
# ====================================
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pkl

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg


env/
.env/
.venv/
/venv/
ENV/
env.bak/
venv.bak/

jobs/
runs/
logs/
data/coco-wholebody
data/logs
data/output/yolo/overlays
data/output/tuned_yolo_overlays
data/output/experiments
data/output/plots
data/output/pose/notebooks
data/output/gait/notebooks

models/*


.ipynb_checkpoints

.idea/

.vscode/

.DS_Store

.env
/docs/
/bash/
/.claude/
/hpc/
/configs
/mlflow.db
/mlruns
